{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Overlay will be displayed over background image -->
<div class="overlay"></div>
<div class="container mb-2">

    <!-- Shopping cart title-->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <!-- Table showing product details -->
    <div class="row">
        <div class="col">
            <!-- Table will only be rendered if cart has any content -->
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <!-- Table header-->
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th> <!-- Spans two columns -->
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- For loop will iterate through items in shopping cart, creating the first row below with each iteration -->
                    {% for item in cart_items %}
                    <tr>
                        <!-- Product image -->
                        <td class="p3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>

                        <!-- Product name and SKU -->
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size:
                                </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                            </p>
                            <p class="my-0 small text-muted"><strong>SKU: {{ item.product.sku|upper }}</strong></p>
                        </td>

                        <!-- Product price -->
                        <td class="py-3">
                            <p class="my-0">$ {{ item.product.price }}</p>
                        </td>

                        <!-- Product quantity -->
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}

                                <!-- Form inputs -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <!-- Increment quantity button -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id}}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>

                                        <!-- Quantity value -->
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">

                                        <!-- Decrement quantity button -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- If product has a size selection available, the selector below will be displayed -->
                                        {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}

                                    </div>
                                </div>
                            </form>
                            <!-- Update quantity button -->
                            <a class="update-link text-info"><small>Update</small></a>

                            <!-- Remove item button -->
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                        </td>

                        <!-- Product subtotal -->
                        <td class="py-3">
                            <p class="my-0">{{ item.product.subtotal }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- This row contains the bag total and the amount left to spend in order to get free delivery -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- This row contains contains the keep shopping and secure checkout button -->
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>

            <!-- If cart is empty, a link to products page will be displayed instead-->
            {% else %}
            <p class="lead mb-5">Your cart is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-1">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Loads the script used to increase or decrease the items when '+' or '-' button is clicked -->
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // The steps below will update the quantity once the update button is clicked
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // The steps below will remove the item from the cart and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size}

        $.post(url, data)
         .done(function(){
            location.reload();
         });  
    })
</script>

{% endblock %}